@model CategoryViewModel
@{ ViewData["Title"] = "AddCategory"; }

<form asp-action="AddCategory" asp-controller="Category" method="post">
    <br />
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-group form-row d-flex justify-content-center  mb-3">
        <label asp-for="Name" class="control-label col-md-2"></label>
        <input asp-for="Name" class="form-control col-md-4" />

    </div>
    <div class="form-group form-row d-flex justify-content-center  mb-3">
        <label asp-for="Description" class="control-label col-md-2"></label>
        <textarea asp-for="Description" rows="5" cols="40">

          </textarea>
    </div>
   

    <div class="d-flex justify-content-around  mb-3">


        <div class="p-2">
            <a class="btn btn-secondary" href="/Home/Index">Vazgeç</a>
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-success btn-block">Ekle</button>
        </div>

    </div>

</form>